<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ArmProject_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="base_link_to_motor_1_v4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_link_to_motor_1_v4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="motor_1_v4_to_motor_2_v2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['motor_1_v4_to_motor_2_v2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="motor_3_v1_2_to_codo_1_modificado_v1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['motor_3_v1_2_to_codo_1_modificado_v1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="motor_4_v4_to_motor_5_v1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['motor_4_v4_to_motor_5_v1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="motor_5_v1_to_motor_6_v1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['motor_5_v1_to_motor_6_v1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="motor_6_v1_to_endEfector">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['motor_6_v1_to_endEfector']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
